fastapi
uvicorn
python-multipart
pandas
numpy
spacy
docx2txt
pdfplumber
PyPDF2
nltk
scikit-learn
sentence-transformers
umap-learn
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl